 body{
    background-color: rgb(26, 118, 194);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
 }
 main{
    width: 500px;
    margin: auto;
    padding: 10px;
    background-color: white;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.288);
    
}
#msg{
   font-family: Arial, Helvetica, sans-serif;
  
}
h1{
   font-size: 40px;
}
aside{
   margin-top: 10px;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
}