*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: rgb(116, 240, 116);
}
h2{
    font-size: 60px;
    text-align: center;
}
main{
    
    border-radius: 10px;
    text-align: center;
    font-size: 1.7em;
    margin: auto;
    margin-top: 20px;
    width: 500px;
    min-height: 300px ;
    background-color: green;
}
#box-inicio label{
margin-right: 10px;
}
#box-fim label{
margin-right: 30px;
}
#box-container button{
    padding: 3px;
    font-size: 20px;
    cursor: pointer;
}
#res{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}