body{
     font-size: 20px;
      font-family: sans-serif; 
      text-align: center;
      background-color: rgb(20, 95, 236);
}
input{
    width: 150px;
   font-size: 20px;
   
}
#res{
   margin-top: 20px;
}
main{
   background-color: #fff;
   width: 500px;
   margin: auto;
   border-radius: 10px;
   padding: 5px;
}
h2{
   color: white;
}