*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
    font-size: 22px;
    background-image: url('goku-vs-vegeta-3440x1440-19301.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    
}
.global{
    position: relative;
    background-color: rgba(207, 208, 214, 0.507);
    max-width: 500px;
    margin: auto;
   
}
#container{
    margin: auto;
}
#res{
    text-align: center;
}
button{
    background-color: brown;
    border: none;
    padding: 3px;
    border-radius: 6px;
}
#foto{
    height: 300px;
    width: 200px;
}
.foto{
    
    margin: auto;
}