#menu{
    background-color: rgb(22, 22, 19);
    flex-direction: column;
    width: 200px;
   font-size: 20px;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
}
.menus{
 display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
}
header{
    text-align: center;
    background-color: blue;
    color: aliceblue;
    padding: 10px;
}
.hide{
    display: none;
}
#abrir{
    width: 100px;
    border: none;
    background-color: rgb(25, 25, 29);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}