 *{
   padding: 0px;
   margin: 0px;
 }
 body{
    background-color: rgb(26, 118, 194);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }
 main{
   text-align: start;
    width: 500px;
    margin: auto;
    padding: 10px;
    background-color: white;
    font-size: 20px;
    min-height: 300px;
}
#msg{
   font-family: Arial, Helvetica, sans-serif;
  
}
h1{
   font-size: 40px;
}
aside{
   margin-top: 10px;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
}
header{
   padding: 5px;
}
#tab{
   width: 145px;
}